@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Alphabetize Me!</h1>
    <p>A small utility for securely alphabetizing a list of data values.</p>
</div>

<p>
    <form id="frmAlphabetizeMe" name="frmAlphabetizeMe" action="/" method="get">
        <p>
            <label for="txtInput">List to Alphabetize:</label><br />
            <textarea id="txtInput" name="txtInput" rows="10" cols="70" onclick="javascript: this.value='';">@ViewBag.InputText</textarea>
        </p>
        <p>
            <input type="submit" id="btnSubmit" name="btnSubmit" value="Alphabetize" />
            <input type="reset" id="btnReset" name="btnReset" value="Start Again" onclick="startAgain();" />
            <input type="button" id="btnCopy" name="btnCopy" value="Copy" onclick="copyTextToClipboard();" />
            <input type="button" id="btnPaste" name="btnPaste" value="Paste" onclick="pasteTextFromClipboard();" />
        </p>
    </form>
</p>

